<!--<div class="jumbotron">-->
  <!--<h1>'Allo, 'Allo!</h1>-->
  <!--<p class="lead">-->
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
  <!--</p>-->
  <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
<!--</div>-->

<!--<div class="row marketing">-->
  <!--<h4>HTML5 Boilerplate</h4>-->
  <!--<p>-->
    <!--HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.-->
  <!--</p>-->

  <!--<h4>Angular</h4>-->
  <!--<p>-->
    <!--AngularJS is a toolset for building the framework most suited to your application development.-->
  <!--</p>-->

  <!--<h4>Karma</h4>-->
  <!--<p>Spectacular Test Runner for JavaScript.</p>-->
<!--</div>-->
<section id="experience">
  <div class="col-lg-12 text-center">
    <h2 class="section-heading">Experience</h2>
    <hr class="primary">
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4 hidden-xs" class="rowred"><img class="uniOxf" src="../images/uniOxf.jpg"/> </div>
    <div class="col-sm-8 col-xs-12">
      <h3>Full Stack Software Engineer</h3>
      <h4><a href="http://www.wwarn.org" target="_blank">Worldwide Anti-malarial Resistance Network</a>, University of Oxford</h4>
      <h5>March 2014 – Present (1 year 5 months)</h5>
        <p>
        <ul>
          <li>Develop web applications with Java, Hibernate and Spring</li>
          <li>Implement front-end user interfaces using GWT, JavaScript and AngularJS</li>
          <li>Supervise junior software developers</li>
          <li>Design and implement Open source projects</li>
        </ul>
        </p>
    </div>
  </div>
  <hr class="primary">
  <div class="row">
    <div class="col-sm-4 hidden-xs" class="rowred"><img class="allocate" src="../images/allocate.gif"/> </div>
    <div class="col-sm-8 col-xs-12">
      <h3>Integration Software Engineer</h3>
      <h4>Allocate Software – Realtime Health</h4>
      <h5>October 2012 – March 2014 (1 year 6 months)</h5>
      <p>
      <ul>
        <li>Design, develop, test, implement, maintain, support and code enhancements to HL7 interfaces</li>
        <li>Healthcare software development using Java, Spring, Hibernate and Flex</li>
        <li>Technical documentation for all phases of integration: analysis, design, development, unit testing, integration testing and go-live support</li>
        <li>Integration Interfaces with Apache Camel and ActiveMQ</li>
        <li>Agile Software development for Healthcare</li>
      </ul>
      </p>
    </div>
  </div>
</section>

<section id="skills">
  <div class="col-lg-12 text-center">
    <h2 class="section-heading">Skills</h2>
    <hr class="primary">
  </div>
</section>

<section id="education">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Education</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="service-box">
          <i class="uniVal wow bounceIn text-primary"></i>
          <h3>Bachelor's degree, Computer Engineering</h3>
          <p class="text-muted">Our templates are updated regularly so they don't break.</p>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Ready to Ship</h3>
          <p class="text-muted">You can use this theme as is, or you can make changes!</p>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Up to Date</h3>
          <p class="text-muted">We update dependencies to keep things fresh.</p>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Made with Love</h3>
          <p class="text-muted">You have to make your websites with love these days!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <p>contact</p>
</section>
